/target/classes/Day1$Number.class
/target/classes/Day1.class
/target/classes/Day2$Game.class
/target/classes/Day2$SubGame.class
/target/classes/Day2.class
/target/classes/input_day1.txt
/target/classes/input_day1_test.txt
/target/classes/input_day1_test2.txt
/target/classes/input_day2.txt
/target/classes/input_day2_test1.txt
/target/maven-archiver/pom.properties
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/adventofcode-2023-1.0-SNAPSHOT.jar
